.u-section-1 {
    min-height: 771px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 223px 0 0 auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 274px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 274px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 274px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-layout-cell-4 {
    min-height: 274px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 675px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 940px) / 2) + 940px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 226px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 226px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 226px;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 226px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 569px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 720px) / 2) + 720px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 173px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 173px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 173px;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 173px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 1263px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 540px) / 2) + 540px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 260px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 260px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 260px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 260px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 879px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 164px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 164px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 164px;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 164px;
    }
  }